<div class="pb-1">
  <md-card>
    <md-card-title>
      {{'profile.mailSetting.internetMail.title' | translate}}
    </md-card-title>
    <!-- <md-card-subtitle>setting</md-card-subtitle> -->

    <form [formGroup]="form" novalidate>
      <md-card-content>
        <div class="mb-1">
          <md-input-container style="width: 100%">
            <input mdInput placeholder="{{'profile.mailSetting.internetMail.accountName' | translate}}" [formControl]="form.controls['accountName']" type="text">
          </md-input-container>
          <small *ngIf="form.controls['accountName'].hasError('required') && form.controls['accountName'].touched" class="mat-text-warn">{{'validate.required' | translate}}</small>
        </div>

        <div class="mb-1">
          <md-input-container style="width: 100%">
            <input mdInput placeholder="{{'profile.mailSetting.internetMail.displayName' | translate}}" [formControl]="form.controls['displayName']" type="text">
          </md-input-container>
          <small *ngIf="form.controls['displayName'].hasError('required') && form.controls['displayName'].touched" class="mat-text-warn">{{'validate.required' | translate}}</small>
        </div>

        <div class="mb-1">
          <md-input-container style="width: 100%">
            <input mdInput placeholder="{{'profile.mailSetting.internetMail.password' | translate}}" [formControl]="form.controls['password']" type="password">
          </md-input-container>
          <small *ngIf="form.controls['password'].hasError('required') && form.controls['password'].touched" class="mat-text-warn">{{'validate.required' | translate}}</small>
        </div>

        <div class="mb-1">
          <md-input-container style="width: 100%">
            <input mdInput placeholder="{{'profile.mailSetting.internetMail.incomingImapServer' | translate}}" [formControl]="form.controls['incomingImapServer']" type="text">
          </md-input-container>
          <small *ngIf="form.controls['incomingImapServer'].hasError('required') && form.controls['incomingImapServer'].touched" class="mat-text-warn">{{'validate.required' | translate}}</small>
        </div>

        <div class="mb-1">
          <md-input-container style="width: 100%">
            <input mdInput placeholder="{{'profile.mailSetting.internetMail.incomingImapPort' | translate}}" [formControl]="form.controls['incomingImapPort']" type="number">
          </md-input-container>
          <small *ngIf="form.controls['incomingImapPort'].hasError('required') && form.controls['incomingImapPort'].touched" class="mat-text-warn">{{'validate.required' | translate}}</small>
          <small *ngIf="form.controls['incomingImapPort'].hasError('number')" class="mat-text-warn">{{'validate.invalid.format' | translate}}</small>
        </div>

        <div class="mb-1">
          <section>
            <md-checkbox [checked]="checked">
              {{'profile.mailSetting.internetMail.incomingSsl' | translate}}
            </md-checkbox>
          </section>
        </div>

        <div class="mb-1">
          <md-input-container style="width: 100%">
            <input mdInput placeholder="{{'profile.mailSetting.internetMail.outgoingImapServer' | translate}}" [formControl]="form.controls['outgoingImapServer']" type="text">
          </md-input-container>
          <small *ngIf="form.controls['outgoingImapServer'].hasError('required') && form.controls['outgoingImapServer'].touched" class="mat-text-warn">{{'validate.required' | translate}}</small>
        </div>

        <div class="mb-1">
          <md-input-container style="width: 100%">
            <input mdInput placeholder="{{'profile.mailSetting.internetMail.outgoingImapPort' | translate}}" [formControl]="form.controls['outgoingImapPort']" type="number">
          </md-input-container>
          <small *ngIf="form.controls['outgoingImapPort'].hasError('required') && form.controls['outgoingImapPort'].touched" class="mat-text-warn">{{'validate.required' | translate}}</small>
          <small *ngIf="form.controls['incomingImapPort'].hasError('number')" class="mat-text-warn">{{'validate.invalid.format' | translate}}</small>
        </div>

        <div class="mb-1">
          <section>
            <md-checkbox [checked]="checked">
              {{'profile.mailSetting.internetMail.outgoingSsl' | translate}}
            </md-checkbox>
          </section>
        </div>
      </md-card-content>
      <hr>
      <md-card-actions>
        <button md-raised-button color="primary" type="submit" [disabled]="!form.valid">{{'button.save' | translate}}</button>
      </md-card-actions>
    </form>
  </md-card>
</div>
