<!--notification-bar></notification-bar-->
<!--breadcrumb-selector></breadcrumb-selector-->
<!--div class="right-wrapper pull-right" style="padding-top:10px;">
    <company-menu-button></company-menu-button>
</div-->

<div class="wrapper">
    <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="end center">
        <div>
            <company-menu-button></company-menu-button>
        </div>
    </div>
    <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="center stretch">
        <div fxFlex.gt-sm="75%" fxFlex="100%">
            <company-result></company-result>
        </div>
        <div fxFlex.gt-sm="25%" fxFlex="100%">
            <company-search></company-search>
        </div>
    </div>
</div>