<md-card>
    <md-card-header>
        <md-card-title style="padding-top:0px;">
            <tr>
                <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="center stretch">
                    <div fxFlex.gt-sm="95%" fxFlex="100%" style="padding-top:15px;">
                        {{this.translate.get('FILTER')}}
                    </div>
                    <div fxFlex.gt-sm="5%" fxFlex="100%" style="padding-top:5px;">
                        <div fxFlex>
                            <button md-raised-button md-button-sm color="primary" (click)="filterTable()" class="mr-1">{{this.translate.get('APPLY')}}</button>
                        </div>
                    </div>
                </div>
            </tr>
        </md-card-title>
    </md-card-header>
    <hr>
    <md-card-content>
        <div fxLayout="row" fxLayoutAlign="start center" class="mb-1">
            <md-input-container class="ml-xs mr-xs" style="width: 100%;">
                <input mdInput placeholder="{{this.translate.get('AGENT_ID')}}" [mdAutocomplete]="tdAuto" [(ngModel)]="currentAgent" #modelDir="ngModel"
                    (ngModelChange)="this.searchAgentlist = filterAgent(currentAgent)" [disabled]="tdDisabled">
            </md-input-container>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" class="mb-1">
            <md-input-container class="ml-xs mr-xs" style="width: 100%;">
                <input mdInput placeholder="{{this.translate.get('QUEUE_NAME')}}" [mdAutocomplete]="tdAuto2" [(ngModel)]="currentQueue" #modelDir="ngModel"
                    (ngModelChange)="this.searchQueuelist = filterQueue(currentQueue)" [disabled]="tdDisabled">
            </md-input-container>
        </div>
        <md-autocomplete #tdAuto="mdAutocomplete">
            <md-option *ngFor="let agent of searchAgentlist" [value]="agent">
                <span>{{ agent }}</span>
            </md-option>
        </md-autocomplete>
        <md-autocomplete #tdAuto2="mdAutocomplete">
            <md-option *ngFor="let queue of searchQueuelist" [value]="queue">
                <span>{{ queue }}</span>
            </md-option>
        </md-autocomplete>
    </md-card-content>
    <hr>
</md-card>