<div class="wrapper">
    <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="center stretch">
        <!-- Avatar -->
        <div fxFlex.gt-sm="20%" fxFlex="100%">
            <md-card fxFlex.gt-md="100%" fxFlex.gt-sm="100%" fxFlex="100%">
                <md-card-content>
                    <figure>
                        <div class="text-xs-center">
                            <img src="assets/images/myavatar.jpg" alt="" class="radius-circle" style="padding-bottom:30px">
                        </div>
                        <div></div>
                        <h5 class="text-xs-center">{{contact.openDeal}}</h5>
                        <div class="text-xs-center"><small>{{this.translate.get('OPEN_DEALS')}}</small></div>
                        <div style="padding-left:10px;padding-right:10px; padding-top:10px; padding-bottom:10px;">
                            <hr>
                        </div>
                        <h5 class="text-xs-center">{{contact.wonDeal}}</h5>
                        <div class="text-xs-center"><small>{{this.translate.get('WON_DEALS')}}</small></div>
                    </figure>
                </md-card-content>
            </md-card>
        </div>
        <!-- Thông tin chi tiết Contact -->
        <div fxFlex.gt-sm="80%" fxFlex="100%">
            <md-card fxFlex.gt-md="100%" fxFlex.gt-sm="100%" fxFlex="100%">
                <md-card-content>
                    <div fxLayout="row" fxLayoutWrap="wrap">
                        <div fxFlex.gt-sm="60%" fxFlex="100%">
                            <h3 class="ma-0"><b>{{contact.name}}</b></h3>
                            <p class="mt-xs mb-xs">{{contact.job_title}}
                                <a> - </a>
                                <a class="text-primary">{{contact.parentName}}</a>
                            </p>
                            <p class="mt-xs mb-xs">{{contact.address}}</p>
                        </div>
                        <div fxFlex.gt-sm="40%" fxFlex="100%">
                            <div fxFlex></div>
                            <button md-icon-button color="primary"><md-icon style="font-size:18px;">call</md-icon></button>
                            <button md-icon-button color="primary"><md-icon style="font-size:18px;">email</md-icon></button>
                            <button md-icon-button color="primary" (click)="onEdit(contact)"><md-icon style="font-size:18px;">edit</md-icon></button>
                        </div>
                    </div>
                    <hr>
                    <div fxLayout="row" fxLayoutWrap="wrap">
                        <!--Cột thông tin Contact bên trái-->
                        <div fxFlex.gt-sm="50%" fxFlex="100%">
                            <div fxLayout="row" fxLayoutWrap="wrap">
                                <div fxFlex.gt-sm="50%" fxFlex="50%">
                                    <p class="mt-xs mb-xs"><b>{{this.translate.get('EMAIL')}}</b></p>
                                </div>
                                <div fxFlex.gt-sm="50%" fxFlex="50%">
                                    <a href="javascript:;" class="block mt-xs mb-xs text-primary">{{contact.email}}</a>
                                </div>
                            </div>
                            <div fxLayout="row" fxLayoutWrap="wrap">
                                <div fxFlex.gt-sm="50%" fxFlex="50%">
                                    <p class="mt-xs mb-xs"><b>{{this.translate.get('PHONE')}}</b></p>
                                </div>
                                <div fxFlex.gt-sm="50%" fxFlex="50%">
                                    <a href="javascript:;" class="block mt-xs mb-xs">{{contact.phone}}</a>
                                </div>
                            </div>
                            <div fxLayout="row" fxLayoutWrap="wrap">
                                <div fxFlex.gt-sm="50%" fxFlex="50%">
                                    <p class="mt-xs mb-xs"><b>{{this.translate.get('WEBSITE')}}</b></p>
                                </div>
                                <div fxFlex.gt-sm="50%" fxFlex="50%">
                                    <a href="javascript:;" class="block mt-xs mb-xs text-primary">{{contact.website}}</a>
                                </div>
                            </div>
                            <div fxLayout="row" fxLayoutWrap="wrap">
                                <div fxFlex.gt-sm="50%" fxFlex="50%">
                                    <p class="mt-xs mb-xs"><b>{{this.translate.get('LAST_CONTACTED_TIME')}}</b></p>
                                </div>
                                <div fxFlex.gt-sm="50%" fxFlex="50%">
                                    <p class="mt-xs mb-xs">{{contact.lastContactTime}}</p>
                                </div>
                            </div>
                        </div>
                        <!--Cột thông tin Contact bên phải-->
                        <div fxFlex.gt-sm="50" fxFlex="100">
                            <div fxLayout="row" fxLayoutWrap="wrap">
                                <div fxFlex.gt-sm="50%" fxFlex="50%">
                                    <p class="mt-xs mb-xs"><b>{{this.translate.get('CREATE_AT')}}</b></p>
                                </div>
                                <div fxFlex.gt-sm="50%" fxFlex="50%">
                                    <p class="mt-xs mb-xs">{{contact.createdDatetime}}</p>
                                </div>
                            </div>
                            <div fxLayout="row" fxLayoutWrap="wrap">
                                <div fxFlex.gt-sm="50%" fxFlex="50%">
                                    <p class="mt-xs mb-xs"><b>{{this.translate.get('CREATE_BY')}}</b></p>
                                </div>
                                <div fxFlex.gt-sm="50%" fxFlex="50%">
                                    <p class="mt-xs mb-xs">{{contact.createdBy}}</p>
                                </div>
                            </div>
                            <div fxLayout="row" fxLayoutWrap="wrap">
                                <div fxFlex.gt-sm="50%" fxFlex="50%">
                                    <p class="mt-xs mb-xs"><b>{{this.translate.get('UPDATE_AT')}}</b></p>
                                </div>
                                <div fxFlex.gt-sm="50%" fxFlex="50%">
                                    <p class="mt-xs mb-xs">{{contact.updatedDatetime}}</p>
                                </div>
                            </div>
                            <div fxLayout="row" fxLayoutWrap="wrap">
                                <div fxFlex.gt-sm="50%" fxFlex="50%">
                                    <p class="mt-xs mb-xs"><b>{{this.translate.get('UPDATE_BY')}}</b></p>
                                </div>
                                <div fxFlex.gt-sm="50%" fxFlex="50%">
                                    <p class="mt-xs mb-xs">{{contact.updatedBy}}</p>
                                </div>
                            </div>
                            <div fxLayout="row" fxLayoutWrap="wrap">
                                <div fxFlex></div>
                                <button md-button color="primary" class="mr-1">{{translate.get('VIEW_DETAIL')}}</button>
                            </div>
                        </div>
                    </div>
                </md-card-content>
            </md-card>
        </div>
    </div>
</div>