<!--notification-bar></notification-bar-->
<!--breadcrumb-selector></breadcrumb-selector-->
<div class="wrapper">
  <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="end center">
    <div>
      <menu-button></menu-button>
    </div>
  </div>
  <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="center stretch">
    <div fxFlex.gt-sm="75%" fxFlex="100%">
      <agent-result></agent-result>
    </div>
    <div fxFlex.gt-sm="25%" fxFlex="100%">
      <agent-search></agent-search>
    </div>
  </div>
</div>