<ngx-datatable class="material" [rows]="blacklistService.blackList" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
    [rowHeight]="'auto'" [limit]="8">
    <ngx-datatable-column name="{{this.translate.get('CALLER')}}">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <div>{{row.caller}}</div>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="{{this.translate.get('LINE')}}">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <div>{{row.lineId}}</div>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="{{this.translate.get('TOTAL_CALL')}}">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <div>{{row.totalCall}}</div>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="{{this.translate.get('TYPE')}}">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <div>{{row.lockLevelName}}</div>
        </ng-template>
    </ngx-datatable-column>

     <ngx-datatable-column name="{{this.translate.get('LAST_LOCK_BLACKLIST')}}">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <div>{{row.lastLockTimeFmt}}</div>
        </ng-template>
    </ngx-datatable-column>

     <ngx-datatable-column name="{{this.translate.get('LAST_UNLOCK_TIME')}}">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <div>{{row.lastUnlockTimeFmt}}</div>
        </ng-template>
    </ngx-datatable-column>

     <ngx-datatable-column name="{{this.translate.get('LAST_LOCK_ACTOR')}}">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <div>{{row.lastLockActor}}</div>
        </ng-template>
    </ngx-datatable-column>

     <ngx-datatable-column name="{{this.translate.get('LAST_UNLOCK_ACTOR')}}">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <div>{{row.lastUnlockActor}}</div>
        </ng-template>
    </ngx-datatable-column>

     <ngx-datatable-column name="{{this.translate.get('DESCRIPTION')}}">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <div>{{row.description}}</div>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="{{this.translate.get('ACTION')}}">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <div>
                <button md-icon-button (click)="edit(row)"><md-icon>edit</md-icon></button>
                <button md-icon-button (click)="delete(row)"><md-icon>delete</md-icon></button>
            </div>
        </ng-template>
    </ngx-datatable-column>
</ngx-datatable>