<!--div class="wrapper">
    <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="center stretch"-->
<div fxFlex.gt-md="100%" fxFlex.gt-sm="100%" fxFlex="100%">
    <md-card fxFlex.gt-md="100%" fxFlex.gt-sm="100%" fxFlex="100%" style="padding-top:0px;">
        <md-tab-group md-stretch-tabs>
            <md-tab>
                <ng-template md-tab-label>{{this.translate.get('TASK')}}</ng-template>
                <md-card-content>
                    <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="center stretch">
                        <div fxLayout="row">
                            <button md-mini-fab class="mr-1"><md-icon>add</md-icon></button>
                        </div>
                    </div>
                    <p></p>
                    <hr>
                    <p></p>
                    <tab-task></tab-task>
                </md-card-content>
            </md-tab>
            <md-tab>
                <ng-template md-tab-label>{{this.translate.get('FILE')}}</ng-template>
                <md-card-content>{{this.translate.get('FILE')}}</md-card-content>
            </md-tab>
        </md-tab-group>
    </md-card>
</div>
<!--/div>
</div-->