<md-card>
  <md-card-title>Slide Toggle</md-card-title>
  <md-card-subtitle>MdSlideToggle is a two-state control, which can be also called switch.</md-card-subtitle>
  <form #form="ngForm" (ngSubmit)="onFormSubmit()" ngNativeValidate>
    <md-card-content>

      <md-slide-toggle name="check" color="primary" [(ngModel)]="firstToggle">
        Default Slide Toggle
      </md-slide-toggle>

      <p>Example where the slide toggle is required inside of a form.</p>



      <md-slide-toggle name="slideToggle" required ngModel>
        Slide Toggle
      </md-slide-toggle>




    </md-card-content>
    <md-card-actions>
      <button md-raised-button color="primary" type="submit">Submit</button>
    </md-card-actions>
  </form>
</md-card>
