<md-tab-group>
  <md-tab>
    <ng-template md-tab-label>
      {{ 'profile.edit' | translate }}
    </ng-template>
    <my-profile-edit></my-profile-edit>
  </md-tab>
  <md-tab>
    <ng-template md-tab-label>
      {{ 'profile.changePass' | translate }}
    </ng-template>
    <my-profile-password></my-profile-password>
  </md-tab>
  <md-tab>
    <ng-template md-tab-label>
      {{ 'profile.configNotification' | translate }}
    </ng-template>
    <my-profile-config-notification></my-profile-config-notification>
  </md-tab>
  <md-tab>
    <ng-template md-tab-label>
      {{ 'profile.emailSettings' | translate }}
    </ng-template>
    <my-profile-email-settings></my-profile-email-settings>
  </md-tab>
</md-tab-group>
