<div fxLayout="row" fxLayoutWrap="wrap" *ngFor="let task of taskService.task_list" style="padding-bottom:10px;">
    <div fxFlex.gt-md="100%" fxFlex.gt-sm="100%" fxFlex="100%">
        <md-checkbox [(ngModel)]="task.status" (change)="update(task)">
            <div *ngIf="task.status; else elseBlock">
                <div style="text-decoration:line-through"> {{task.title}} </div>
            </div>
            <ng-template #elseBlock>
                <div> {{task.title}} </div>
            </ng-template>
            <div>
                <small>{{task.assign_to_id}}</small>
            </div>
            <div>
                <small>{{task.due_date}}</small>
            </div>
        </md-checkbox>
    </div>
    <div>
        <hr style="padding-top:10px; padding-bottom:10px;">
    </div>
</div>