<!--h2>{{agent_id}}</h2>
<h2>{{queue_id}}</h2>
<h2>{{queue_name}}</h2>
<h2>{{priority}}</h2-->

<h5 class="mt-0">{{this.translate.get('EDIT_TITLE')}}</h5>
<!-- Agent ID -->
<!--md-input-container class="ml-xs mr-xs" style="width: 100%;">
    <input mdInput placeholder="AGENT ID" [mdAutocomplete]="tdAuto" [(ngModel)]="agent_id" #modelDir="ngModel" [disabled]="tdDisabled"
        (ngModelChange)="this.searchAgentlist = filterAgent(agent_id)">
</md-input-container>
<md-autocomplete #tdAuto="mdAutocomplete">
    <md-option *ngFor="let agent of searchAgentlist" [value]="agent">
        <span>{{ agent }}</span>
    </md-option>
</md-autocomplete-->
<div class="mb-1">
    <md-input-container class="ml-xs mr-xs" style="width: 100%;">
        <input mdInput disabled placeholder="{{this.translate.get('AGENT_ID')}}" [(ngModel)]="agent_id">
    </md-input-container>
</div>
<!-- Queue NAME -->
<div class="mb-1">
    <md-input-container class="ml-xs mr-xs" style="width: 100%;">
        <input mdInput placeholder="{{this.translate.get('QUEUE_NAME')}}" [mdAutocomplete]="tdAuto2" [(ngModel)]="queue_name" #modelDir="ngModel" [disabled]="tdDisabled"
            (ngModelChange)="this.searchQueuelist = filterQueue(queue_name)">
    </md-input-container>
</div>
<md-autocomplete #tdAuto2="mdAutocomplete">
    <md-option *ngFor="let queue of searchQueuelist" [value]="queue">
        <span>{{ queue }}</span>
    </md-option>
</md-autocomplete>
<!-- PRIORITY -->
<div class="mb-1">
    <md-input-container class="ml-xs mr-xs" style="width: 100%;">
        <input mdInput placeholder="{{this.translate.get('PRIORITY')}}" [(ngModel)]="priority">
    </md-input-container>
</div>
<button md-raised-button md-button-sm color="primary" class="mr-1" (click)="closeDialog()">{{this.translate.get('CANCEL')}}</button>
<button md-raised-button md-button-sm color="primary" class="mr-1" (click)="saveDialog()">{{this.translate.get('SAVE')}}</button>