<form [formGroup]="form" (ngSubmit)="onSubmit($event)">
    <h5 class="mt-0">{{this.translate.get('ADD_TITLE')}}</h5>
    <!-- Agent ID -->
    <md-input-container class="ml-xs mr-xs" style="width: 100%;">
        <input mdInput placeholder="{{this.translate.get('AGENT_ID')}}" [formControl]="form.controls['agent_id_control']" [mdAutocomplete]="tdAuto2" [(ngModel)]="agent_id"
            (ngModelChange)="this.searchAgentlist = filterAgent(agent_id)">
        <small *ngIf="form.controls['agent_id_control'].hasError('required')" class="mat-text-warn">{{this.translate.get('AGENT_WARN')}}</small>
    </md-input-container>
    <md-autocomplete #tdAuto2="mdAutocomplete">
        <!--md-option *ngFor="let agent of filteredAgent | async" [value]="agent"-->
        <md-option *ngFor="let agent of searchAgentlist" [value]="agent">
            <span>{{ agent }}</span>
        </md-option>
    </md-autocomplete>

    <!-- Queue ID -->
    <md-input-container class="ml-xs mr-xs" style="width: 100%;">
        <input mdInput placeholder="{{this.translate.get('QUEUE_NAME')}}" [formControl]="form.controls['queue_name_control']" [mdAutocomplete]="tdAuto" [(ngModel)]="queue_name"
            (ngModelChange)="this.searchQueuelist = filterQueue(queue_name)">
        <small *ngIf="form.controls['queue_name_control'].hasError('required')" class="mat-text-warn">{{this.translate.get('QUEUE_WARN')}}</small>
    </md-input-container>
    <md-autocomplete #tdAuto="mdAutocomplete">
        <!--md-option *ngFor="let queue of filteredQueue | async" [value]="queue"-->
        <md-option *ngFor="let queue of searchQueuelist" [value]="queue">
            <span>{{ queue }}</span>
        </md-option>
    </md-autocomplete>
    
    <!-- Priority -->
    <md-input-container class="ml-xs mr-xs" style="width: 100%;">
        <input mdInput placeholder="{{this.translate.get('PRIORITY')}}" [formControl]="form.controls['priority_control']">
        <small *ngIf="form.controls['priority_control'].hasError('required') && form.controls['priority_control'].touched" class="mat-text-warn">{{this.translate.get('PRIORITY_WARN')}}</small>
        <small *ngIf="form.controls['priority_control'].errors?.range && form.controls['priority_control'].touched" class="mat-text-warn">{{this.translate.get('PRIORITY_WARN')}}</small>
    </md-input-container>

    <button md-raised-button md-button-sm color="primary" class="mr-1" type="submit" [disabled]="!form.valid">{{this.translate.get('SAVE')}}</button>
    <button md-raised-button md-button-sm color="primary" class="mr-1" type="button" (click)="closeDialog()">{{this.translate.get('CANCEL')}}</button>

</form>